<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/newstyle.css">
	<link rel="stylesheet" type="text/css" href="../static/css/fontaesome/css/all.css">
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Inscription à Big Link</h5>
				<form method="POST">
					<div>
						<label for="nom">Nom</label>
						<input id="nom" type="text" name="nom"  class="form-control" required="">
					</div>
					<div>
						<label for="prenom">Prenom</label>
						<input id="prenom" type="text" name="prenom"  class="form-control" required="">
					</div>
					<div >
						<label for="email">Mail</label>
						<input id="email" type="email" name="email"  class="form-control" required="">
					</div>
					<div>
						<label for="mot_de_passe">Mot de passe</label>
						<input id="mot_de_passe" type="password" name="mot_de_passe"  class="form-control" required="">
					</div>
					<div >
						<label for="role">Selection votre role</label>
						<select id="role" name="role"  class="form-control" required="">
							<option value="1">Eleve</option>
							<option value="2">Professeur</option>
							<option value="3">Admin</option>
						</select>
					</div><br><br><br><br>
					<input type="submit" name="submit" value="S'inscrire"  class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
				</form>

			</div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../static/jquery/jquery.slim.min.js"></script>
<script type="text/javascript" src="../static/bootstrap/css/bootstrap.min.js"></script>
</body>
</html>